$title: 90px;
$heroMargin: 40px;
$description: 25px;
%button {
  background: none;
  border: 1.5px solid black;
  cursor: pointer;
  font-family: caviar;
  padding-bottom: 2px;
  background: linear-gradient(white, rgba(237, 30, 120, 0.377));

  background-size: 100% 600%;
  transition: background-size 0.5s;

  &:hover {
    background-size: 100% 100%;
  }

  @media (max-width: 1148px) {
    &:hover {
      background-size: 100% 400%;
    }
  }
}

@font-face {
  font-family: caviar;
  src: url(/fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: flanella;
  src: url(/fonts/Havana-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  
}

/* LOG */
.log {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px auto;
  input {
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    border: 2px solid purple;
    border-radius: 10px;
  }
  button {
    height: 40px;
    background: purple;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}
.file + label {
  background: red;
}
.logout {
  height: 40px;
  background: purple;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  position: relative;
  right: 0;
}

.editor {
  display: none;
}
.block__edit {
  height: 100%;
  width: 70px;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 0;

  button {
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}
.button--delete {
  background: red;
}
.button--up {
  -webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  background: rgb(157, 59, 202);
}
.button--down {
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: rgb(157, 59, 202);
}
/* MENU */
.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    & > .hamburger__container {
      box-shadow: 0 0 2px 2px #51a7e8;
    }
  }
}

.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: transform 220ms ease-in-out;
  &:before, &:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    content: '';
  }
  &:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
  &:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
}

.hamburger--active {
  .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;
    &:before {
      top: 0;
      transition: top 100ms ease-out;   
    }
    &:after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out, 
        transform 220ms 120ms ease-in-out;
    }
  }
}

.hamburger, .hamburger__container {
  &:focus {
    outline: none;
  }
}
.menu{
  width: 300px;
  position: fixed;
  overflow: hidden;

  z-index: 20;
  right: 0%;
}
.menu__top, .menu__bottom{
  display: flex;
  justify-content: flex-end;
}

.menu__icon{
  position: relative;
  z-index: 1;
  background: red;
  width: 60px;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid black;
  top: 50px;
  img{
    height: 40px;
    width: auto;
  }

  background: linear-gradient(white, rgba(237, 30, 120, 0.377));

  background-size: 100% 600%;
  transition: background-size 0.5s;

  &:hover {
    background-size: 100% 100%;
  }

  @media (max-width: 1148px) {
    &:hover {
      background-size: 100% 400%;
    }
  }
}

.menu__list{
  position: relative;
width: 100%;
  list-style: none;
 background: rgba(255, 255, 255, 0.815);
  text-align: center;
  transition: margin-right 0.3s ease-in;
 padding-top: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -300px;
  top: -20px;

  ul{
   
  }
  li{
    margin-bottom: 50px;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    transition: color 0.3s;
    font-family: caviar;
    &:hover{
      color: rgba(237, 30, 120, 0.377);
    }
    
  }
}
.show{
  margin-right: 0;
}
/* HERO */
.hero__contener{
  transform: rotate(180deg)
}
.hero {
  text-align: center;
  background: url(./header.jpg);
  background-size: cover;
  position: relative;
  transform: rotate(180deg);
}

.hero__logo {
  width: 200px;
  margin-top: 80px;
}

.hero__title {
  font-weight: lighter;
  font-size: $title;
  font-family: flanella;
 
}
.hero__description {
  font-weight: lighter;
  margin-top: $heroMargin;
  font-size: $description;
  font-family: caviar;
}
.hero__CTA {
  @extend %button;
  margin-top: $heroMargin;
  font-size: 23px;
  height: 60px;
  width: 250px;
}
.icons {
  font-size: 35px;

  display: flex;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
  margin-top: $heroMargin;
  font-weight: lighter;
  img {
    height: 40px;
  }
}
.hero__icons {
  padding-bottom: 400px;
}
.hero__wave {
  margin-top: -120px;
}

/* ABOUT */
.about {
  text-align: center;
}
.about__wave {
  margin-top: -220px;
}
.about__image {
  height: 800px;
  background: url(./about.jpg);
  background-size: cover;
  background-position-y: -100px;
}
.about__title {
  font-size: $title;
  font-weight: lighter;
  font-family: flanella;
}
.about__description {
  font-size: $description;
  padding: 0 50px;

  margin-top: 50px;
  line-height: 35px;
  font-family: caviar;
}

/* NEWS */

.news__title {
  text-align: center;
  font-size: $title;
  font-weight: lighter;
  font-family: flanella;
  background: white;
  margin-top: -5px;
}

.news__block {
  display: flex;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
}
.block__left {
  width: 50%;
  position: relative;
}
.block__frame {
  height: 500px;
  border: 2px solid rgb(0, 0, 0);
  width: 65%;
  position: absolute;
}
.block__img {
  height: 450px;
  position: absolute;
  width: 100%;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  left: 5%;
}
.block__right {
  width: 50%;
  text-align: center;
  font-family: caviar;

  position: relative;
}
.block__title {
  margin: 0 auto;
  font-size: 50px;
  font-weight: lighter;
  width: 70%;
}
.block__subtitle {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 15px;
  width: 70%;
}
.block__description {
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 25px;
  line-height: 30px;
}
.block__button {
  @extend %button;
  font-size: 25px;
  width: 250px;
  height: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 5%;
 
}

//FOOTER

.footer {
  text-align: center;
  font-family: caviar;
  font-size: $description;
  margin-top: 150px;
}

.footer__text {
  line-height: 45px;
}
.footer__button {
  margin-top: 25px;
  @extend %button;
  font-size: 23px;
  height: 60px;
  width: 250px;
}
.footer__title {
  margin-top: 40px;
  font-size: $title;
  font-family: flanella;
  font-weight: lighter;
}
.footer__email {
  margin-top: 25px;
}
.footer__image {
  height: 900px;
  background: url(./footer.jpg);
  background-size: cover;
  position: relative;
}
.footer__sign {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  bottom: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

//WAVE

#ocean {
  top: 0px;
  position: absolute;
  width: 100%;
  min-height: 200px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(93, 137, 224)),
    color-stop(0.5, rgb(162, 240, 236))
  );
}

.wave {
  background: #ffffff;
  display: inline-block;
  height: 10%;
  width: 50%;
  position: absolute;
  -webkit-animation-name: dostuff;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
  z-index: 10;
}

@-webkit-keyframes dostuff {
  0% {
    height: 60%;
  }
  50% {
    height: 40%;
  }
  100% {
    height: 60%;
  }
}
@media (max-width: 1148px) {
  .hero {
    background-position-y: 150px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1048px) {
  .news__block {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
  }
  .block__left {
    width: 100%;
    position: relative;
  }
  .block__frame {
    display: none;
  }
  .block__img {
    height: 450px;
    position: relative;
    width: 80%;

    top: auto;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    margin: 0 auto;
    left: 0%;
  }
  .block__right {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: caviar;

    position: relative;
  }
  .block__title {
    margin: 0 auto;
    font-size: 50px;
    font-weight: lighter;
    width: 80%;
    margin-top: 20px;
  }
  .block__subtitle {
    margin: 0 auto;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 15px;
    width: 100%;
  }
  .block__description {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 25px;
    line-height: 30px;
  }
  .block__button {
    font-size: 25px;
    width: 250px;
    height: 60px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
    margin-top: 40px;
  }
  .menu__list{
 
  
   
    a{
     
      &:hover{
        color: rgb(0, 0, 0);
      }
      
    }
  }
}

@media (max-width: 756px) {
  .hero__logo {
    width: 30%;
  }
}
@media (max-width: 688px) {
  .about__image {
    background-repeat: no-repeat;
    background-position-x: -350px;
  }
}
@media (max-width: 596px) {
  .about__description {
    padding: 0 10px;
  }
  .hero__title, .about__title, .news__title, .footer__title{
    font-size: 60px;
  }
}
@media (max-width: 524px) {
  .hero {
    background-position-x: -150px;
  }
}
@media (max-width: 420px) {
  .footer__text {
    br {
      display: none;
    }
  }
}
@media (max-width: 400px) {
  .block__img {
    height: 200px;
  }
  .hero__title, .about__title, .news__title, .footer__title{
    font-size: 40px;
  }
}
