$title: 90px;
$heroMargin: 20px;
$description: 25px;

* {
    padding: 0;
    margin: 0;
  }
  
  /* HERO */
  .hero {
    text-align: center;
  }
  
  .hero__title {
    font-weight: lighter;
    font-size: $title;
  }
  .hero__description {
    font-weight: lighter;
    margin-top: $heroMargin;
    font-size: $description;
  }
  .hero__CTA {
    background: none;
    border: 2px solid black;
    margin-top: $heroMargin;
    font-size: 23px;
    height: 50px;
    width: 250px;
    cursor: pointer;
  }
  .hero__icons {
    font-size: 35px;
  
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin: 0 auto;
    margin-top: $heroMargin;
    
  }
  .hero__icons {
      a{
      color: black;
      }
  }
  /* ABOUT */
  .about{
      text-align: center;
  }
  .about__title{
      font-size: $title;
      font-weight: lighter;
  }
  .about__description{
      font-size: $description;
      padding: 0 50px;
      margin-top: 50px;
      line-height: 35px;
  }