.hero__CTA, .block__button, .footer__button {
  background: none;
  border: 1.5px solid black;
  cursor: pointer;
  font-family: caviar;
  padding-bottom: 2px;
  background: linear-gradient(white, rgba(237, 30, 120, 0.377));
  background-size: 100% 800%;
  transition: background-size 0.5s;
  position: relative;
  z-index: 50;
}

.hero__CTA:hover, .block__button:hover, .footer__button:hover {
  background-size: 100% 100%;
}

@media (max-width: 1148px) {
  .hero__CTA:hover, .block__button:hover, .footer__button:hover {
    background-size: 100% 800%;
  }
}

@font-face {
  font-family: caviar;
  src: url(/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: flanella;
  src: url(/fonts/Havana-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

/* LOG */
.log {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px auto;
}

.log input {
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
  border: 2px solid purple;
  border-radius: 10px;
}

.log button {
  height: 40px;
  background: purple;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.file + label {
  background: red;
}

.logout {
  height: 40px;
  background: purple;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  position: relative;
  right: 0;
}

.editor {
  display: none;
}

.block__edit {
  height: 100%;
  width: 70px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 0;
}

.block__edit button {
  height: 40px;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button--delete {
  background: red;
}

.button--up {
  -webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  background: #9d3bca;
}

.button--down {
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #9d3bca;
}

/* MENU */
.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.hamburger:focus > .hamburger__container {
  box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  transition: transform 220ms ease-in-out;
}

.hamburger__bars:before, .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #000;
  content: "";
}

.hamburger__bars:before {
  top: -12px;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger__bars:after {
  bottom: -12px;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
  transform: rotate(225deg);
  transition: transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars:before {
  top: 0;
  transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
}

.hamburger:focus,
.hamburger__container:focus {
  outline: none;
}

.menu {
  width: 300px;
  position: fixed;
  overflow: hidden;
  z-index: 20;
  right: 0%;
}

.menu__top,
.menu__bottom {
  display: flex;
  justify-content: flex-end;
}

.menu__icon {
  position: relative;
  z-index: 180;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
  background: linear-gradient(white, rgba(237, 30, 120, 0.377));
  background-size: 100% 800%;
  transition: background-size 0.5s;
  top: 40px;
}

.menu__icon img {
  height: 40px;
  width: auto;
}

.menu__icon:hover {
  background-size: 100% 100%;
}

@media (max-width: 1148px) {
  .menu__icon:hover {
    background-size: 100% 800%;
  }
}

.menu__sound {
  position: fixed;
  left: 60px;
}

.menu__sound img {
  width: 40px;
  height: auto;
}

.play img {
  transform: translateY(-2px);
}

.menu__hamburger {
  margin-right: 60px;
}

.menu__list {
  position: relative;
  width: 100%;
  list-style: none;
  background: rgba(255, 255, 255, 0.815);
  text-align: center;
  transition: margin-right 0.3s ease-in;
  padding-top: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -300px;
  top: -20px;
}

.menu__list li {
  margin-bottom: 50px;
}

.menu__list a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  transition: color 0.3s;
  font-family: caviar;
}

.menu__list a:hover {
  color: rgba(237, 30, 120, 0.377);
}

.show {
  margin-right: 0;
}

.index {
  z-index: 100;
}

/* HERO */
.hero {
  text-align: center;
  background: url(./header.jpg);
  background-size: cover;
  position: relative;
}

.hero__logo {
  width: 200px;
  margin-top: 100px;
}

.hero__title {
  font-weight: lighter;
  font-size: 90px;
  font-family: flanella;
  margin-top: 40px;
}

.hero__description {
  font-weight: lighter;
  margin-top: 40px;
  font-size: 25px;
  font-family: caviar;
}

.hero__CTA {
  margin-top: 40px;
  font-size: 23px;
  height: 60px;
  width: 250px;
}

.icons {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: lighter;
  position: relative;
  z-index: 50;
}

.icons img {
  height: 40px;
}

.hero__icons {
  padding-bottom: 400px;
}

/* ABOUT */
.about {
  text-align: center;
}

.about__wave {
  margin-top: -220px;
}

.about__image {
  height: 800px;
  background: url(./about.jpg);
  background-size: cover;
  position: relative;
}

.about__title {
  font-size: 90px;
  font-weight: lighter;
  font-family: flanella;
}

.about__description {
  font-size: 25px;
  padding: 0 50px;
  margin-top: 50px;
  line-height: 35px;
  font-family: caviar;
}

/* NEWS */
.news__title {
  text-align: center;
  font-size: 90px;
  font-weight: lighter;
  font-family: flanella;
  background: white;
  margin-top: -5px;
}

.news__block {
  display: flex;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
}

.block__left {
  width: 50%;
  position: relative;
}

.block__frame {
  height: 500px;
  border: 2px solid black;
  width: 65%;
  position: absolute;
}

.block__img {
  height: 450px;
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  left: 5%;
}

.block__right {
  width: 50%;
  text-align: center;
  font-family: caviar;
  position: relative;
}

.block__title {
  margin: 0 auto;
  font-size: 50px;
  font-weight: lighter;
  width: 70%;
}

.block__subtitle {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 15px;
  width: 70%;
}

.block__description {
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 25px;
  line-height: 30px;
}

.block__button {
  font-size: 25px;
  width: 250px;
  height: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 5%;
}

.footer {
  text-align: center;
  font-family: caviar;
  font-size: 25px;
  margin-top: 150px;
}

.footer__text {
  line-height: 45px;
}

.footer__button {
  margin-top: 25px;
  font-size: 23px;
  height: 60px;
  width: 250px;
}

.footer__title {
  margin-top: 40px;
  font-size: 90px;
  font-family: flanella;
  font-weight: lighter;
}

.footer__email {
  margin-top: 25px;
}

.footer__image {
  height: 900px;
  background: url(./footer.jpg);
  background-size: cover;
  position: relative;
}

.footer__sign {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  bottom: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100px;
  bottom: -1px;
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

@media (max-width: 1048px) {
  .news__block {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
  }
  .block__left {
    width: 100%;
    position: relative;
  }
  .block__frame {
    display: none;
  }
  .block__img {
    height: 450px;
    position: relative;
    width: 80%;
    top: auto;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    margin: 0 auto;
    left: 0%;
  }
  .block__right {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: caviar;
    position: relative;
  }
  .block__title {
    margin: 0 auto;
    font-size: 50px;
    font-weight: lighter;
    width: 80%;
    margin-top: 20px;
  }
  .block__subtitle {
    margin: 0 auto;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 15px;
    width: 100%;
  }
  .block__description {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 25px;
    line-height: 30px;
  }
  .block__button {
    font-size: 25px;
    width: 250px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
    margin-top: 40px;
  }
  .menu__list a:hover {
    color: black;
  }
}

@media (max-width: 756px) {
  .hero__logo {
    width: 30%;
  }
}

@media (max-width: 688px) {
  .about__image {
    background-repeat: no-repeat;
    background-position-x: -350px;
  }
}

@media (max-width: 596px) {
  .about__description {
    padding: 0 10px;
  }
  .hero__title,
  .about__title,
  .news__title,
  .footer__title {
    font-size: 60px;
  }
}

@media (max-width: 524px) {
  .hero {
    background-position-x: -150px;
  }
}

@media (max-width: 420px) {
  .footer__text br {
    display: none;
  }
}

@media (max-width: 400px) {
  .block__img {
    height: 200px;
  }
  .hero__title,
  .about__title,
  .news__title,
  .footer__title {
    font-size: 40px;
  }
}
