.hero__CTA, .block__button {
  background: none;
  border: 2px solid black;
  cursor: pointer;
  font-family: caviar;
  padding-bottom: 2px;
}

@font-face {
  font-family: caviar;
  src: url(/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: flanella;
  src: url(/fonts/Flanella.ttf);
}

* {
  padding: 0;
  margin: 0;
}

/* LOG */
.log {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
}

.log input {
  height: 30px;
  font-size: 20px;
}

.log button {
  height: 40px;
}

.editor {
  display: none;
}

/* HERO */
.hero {
  text-align: center;
}

.hero__logo {
  width: 700px;
  margin-top: 80px;
}

.hero__title {
  font-weight: lighter;
  font-size: 90px;
  display: none;
}

.hero__description {
  font-weight: lighter;
  margin-top: 40px;
  font-size: 25px;
  font-family: caviar;
}

.hero__CTA {
  margin-top: 40px;
  font-size: 23px;
  height: 60px;
  width: 250px;
}

.hero__icons {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: lighter;
}

.hero__icons img {
  height: 40px;
}

/* ABOUT */
.about {
  text-align: center;
  margin-top: 150px;
}

.about__title {
  font-size: 90px;
  font-weight: lighter;
  font-family: flanella;
}

.about__description {
  font-size: 25px;
  padding: 0 50px;
  margin-top: 50px;
  line-height: 35px;
  font-family: caviar;
}

/* NEWS */
.news__title {
  text-align: center;
  font-size: 90px;
  font-weight: lighter;
  font-family: flanella;
}

.news__block {
  display: flex;
  height: 500px;
  width: 90%;
  margin: 0 auto;
}

.block__left {
  width: 50%;
  position: relative;
}

.block__frame {
  height: 500px;
  border: 2px solid black;
  width: 65%;
  position: absolute;
}

.block__img {
  height: 450px;
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  left: 5%;
}

.block__right {
  width: 50%;
  text-align: center;
  font-family: caviar;
  position: relative;
}

.block__title {
  font-size: 50px;
  font-weight: lighter;
}

.block__subtitle {
  font-weight: lighter;
  font-size: 25px;
  margin-top: 15px;
}

.block__description {
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 25px;
  line-height: 30px;
}

.block__button {
  font-size: 25px;
  width: 250px;
  height: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 5%;
}
