.hero__CTA, .block__button, .footer__button {
  background: none;
  border: 1.5px solid black;
  cursor: pointer;
  font-family: caviar;
  padding-bottom: 2px;
  background: linear-gradient(white, rgba(237, 30, 120, 0.377));
  background-size: 100% 400%;
  transition: background-size 0.5s;
}

.hero__CTA:hover, .block__button:hover, .footer__button:hover {
  background-size: 100% 100%;
}

@media (max-width: 1148px) {
  .hero__CTA:hover, .block__button:hover, .footer__button:hover {
    background-size: 100% 400%;
  }
}

@font-face {
  font-family: caviar;
  src: url(/fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: flanella;
  src: url(/fonts/Flanella.ttf);
}

* {
  padding: 0;
  margin: 0;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
}

/* LOG */
.log {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px auto;
}

.log input {
  height: 30px;
  font-size: 20px;
  margin-top: 10px;
  border: 2px solid purple;
  border-radius: 10px;
}

.log button {
  height: 40px;
  background: purple;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.file + label {
  background: red;
}

.logout {
  height: 40px;
  background: purple;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  position: relative;
  right: 0;
}

.editor {
  display: none;
}

.block__edit {
  height: 100%;
  width: 70px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 0;
  z-index: 1;
}

.block__edit button {
  height: 40px;
  width: 100%;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button--delete {
  background: red;
}

.button--up {
  -webkit-clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  background: #9d3bca;
}

.button--down {
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #9d3bca;
}

/* HERO */
.hero {
  text-align: center;
  background: url(./header.png);
  background-size: cover;
}

.hero__logo {
  width: 700px;
  margin-top: 80px;
}

.hero__title {
  font-weight: lighter;
  font-size: 90px;
  display: none;
}

.hero__description {
  font-weight: lighter;
  margin-top: 40px;
  font-size: 25px;
  font-family: caviar;
}

.hero__CTA {
  margin-top: 40px;
  font-size: 23px;
  height: 60px;
  width: 250px;
}

.icons {
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: lighter;
}

.icons img {
  height: 40px;
}

.hero__icons {
  padding-bottom: 400px;
}

.hero__wave {
  margin-top: -120px;
}

/* ABOUT */
.about {
  text-align: center;
}

.about__wave {
  margin-top: -220px;
}

.about__image {
  height: 800px;
  background: url(./about.png);
  background-size: cover;
  background-position-y: -100px;
}

.about__title {
  font-size: 90px;
  font-weight: lighter;
  font-family: flanella;
}

.about__description {
  font-size: 25px;
  padding: 0 50px;
  margin-top: 50px;
  line-height: 35px;
  font-family: caviar;
}

/* NEWS */
.news__title {
  text-align: center;
  font-size: 90px;
  font-weight: lighter;
  font-family: flanella;
  background: white;
  margin-top: -5px;
}

.news__block {
  display: flex;
  height: 500px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 80px;
}

.block__left {
  width: 50%;
  position: relative;
}

.block__frame {
  height: 500px;
  border: 2px solid black;
  width: 65%;
  position: absolute;
}

.block__img {
  height: 450px;
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  left: 5%;
}

.block__right {
  width: 50%;
  text-align: center;
  font-family: caviar;
  position: relative;
}

.block__title {
  margin: 0 auto;
  font-size: 50px;
  font-weight: lighter;
  width: 70%;
}

.block__subtitle {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 15px;
  width: 70%;
}

.block__description {
  width: 70%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 25px;
  line-height: 30px;
}

.block__button {
  font-size: 25px;
  width: 250px;
  height: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 5%;
}

.footer {
  text-align: center;
  font-family: caviar;
  font-size: 25px;
  margin-top: 150px;
}

.footer__text {
  line-height: 45px;
}

.footer__button {
  margin-top: 25px;
  font-size: 23px;
  height: 60px;
  width: 250px;
}

.footer__title {
  margin-top: 40px;
  font-size: 90px;
  font-family: flanella;
  font-weight: lighter;
}

.footer__email {
  margin-top: 25px;
}

.footer__image {
  height: 900px;
  background: url(./footer.png);
  background-size: cover;
  position: relative;
}

.footer__sign {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  bottom: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1148px) {
  .hero {
    background-position-y: 150px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1048px) {
  .news__block {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 80px;
  }
  .block__left {
    width: 100%;
    position: relative;
  }
  .block__frame {
    display: none;
  }
  .block__img {
    height: 450px;
    position: relative;
    width: 80%;
    top: auto;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    margin: 0 auto;
    left: 0%;
  }
  .block__right {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: caviar;
    position: relative;
  }
  .block__title {
    margin: 0 auto;
    font-size: 50px;
    font-weight: lighter;
    width: 80%;
    margin-top: 20px;
  }
  .block__subtitle {
    margin: 0 auto;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 15px;
    width: 100%;
  }
  .block__description {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 25px;
    line-height: 30px;
  }
  .block__button {
    font-size: 25px;
    width: 250px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0;
    margin-top: 40px;
  }
}

@media (max-width: 756px) {
  .hero__logo {
    width: 100%;
  }
}

@media (max-width: 688px) {
  .about__image {
    background-repeat: no-repeat;
    background-position-x: -350px;
  }
}

@media (max-width: 596px) {
  .about__description {
    padding: 0 10px;
  }
}

@media (max-width: 524px) {
  .hero {
    background-position-x: -150px;
  }
}

@media (max-width: 420px) {
  .footer__text br {
    display: none;
  }
}

@media (max-width: 400px) {
  .block__img {
    height: 200px;
  }
}
